body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    pointer-events: none;
}

.box {
    position: absolute;
    /* made in js */
    /* top: 50vh;
    left: 50vw;
    width: 350px;
    height: 350px; */
    /* transform: translate(-50%, -50%); */
    outline: solid 6px white;
}

.heart {
    position: absolute;
    /* made in js */
    /* top: 50vh;
    left: 50vw;
    width: 16px;
    height: 16px; */
    /* transform: translate(-50%, -50%); */
    /* transition: top 10ms linear, right 0ms linear, bottom 10ms linear, left 10ms linear; */
}

.pixel {
    position: absolute;
    /* width: 1px;
    height: 1px; */
}

.obstacle {
    position: absolute;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.boss {
    position: absolute;
    image-rendering: pixelated;
}

.deck {
    position: absolute;
}

.card {
    position: absolute;
    image-rendering: pixelated;
}

.health-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.health-bar-back {
    background-color: red;
}

.health-bar-front {
    background-color: yellow;
    margin-top: -30px;
}

.health-bar-text {
    font-family: PixelOperatorMonoHB8;
    color: white;
}

.dialogue-helper {
    position: absolute;
}

.dialogue::before {
    content: "";
    position: inherit;
    top: 104px;
    left: -40px;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 26px solid transparent;
    border-right: 45px solid white;
    border-bottom: 19px solid transparent;
}

.dialogue {
    position: inherit;
    background-color: white;
    padding: 12px 10px 12px 10px;
    border-radius: 40px;
    min-width: 400px;
    max-width: 400px;
    height: 200px;
}

.dialogue-text {
    image-rendering: pixelated;
    padding: 10px;
    word-break: normal;
    font-family: comic_sans_ut_font_rus_eng;
    color: black;
    font-size: 24px;
    letter-spacing: 6px;
}

@font-face {
    font-family: PixelOperatorMonoHB8;
    src: url(fonts/PixelOperatorMonoHB8.ttf);
}

@font-face {
    font-family: comic_sans_ut_font_rus_eng;
    src: url(fonts/comic-sans-ut-font-rus-eng.ttf);
}