*{
    margin: 0;
    padding: 0;
    cursor: none;
    transition: opacity 1s, font-size 1s;
}

body{
    background-color: black;
    height: 100%;
    overflow: hidden;
}

.rectangle{
    position: absolute;
    background-color: orange;
    opacity: 96%;
    transition: opacity 1s;
}

.particle{
    position: absolute;
    background-color: red;
    transition: opacity 0.5s;
    z-index: 1;
}

#textNiveau{
    top: 0;
    left: 0;
    position: absolute;
    margin: 10px;
    color: white;
    font-size: 24px;
    z-index: 1;
}

#textTimer{
    position: absolute;
    margin: 10px;
    color: white;
    font-size: 24px;
    bottom: 0;
    z-index: 1;
}

.bigTextTimer{
    font-size: 48px !important;
}

#cursor{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index: 1;
    transform: rotate(45deg);
}

.cursoranimation{
    animation: pulse 0.75s ease infinite;
}

#cursor:before,
#cursor:after{
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background-color: red;
}
#cursor:before{
    bottom: 0px;
    left: -5px;
}
#cursor:after{
    top: -5px;
    right: 0px;
}

@keyframes pulse {
    0% { transform: scale(1) rotate(var(--r,45deg)) }
    50% { transform: scale(1.15) rotate(var(--r,45deg)) }
    100% { transform: scale(1) rotate(var(--r,45deg)) }
}

.opacityZero{
    opacity: 0%;
}

#cliquerCommencer{
    font-size: 36px;
    text-align: center;
    line-height: 40vh;
    color: white;
}